<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Table</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Bootstrap Table</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">номер</th>
            <th scope="col">Username</th>
            <th scope="col">Тип</th>
            <th scope="col">Время</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < userHistory.length; i++) { %>
            <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= userHistory[i].user.username %></td>
                <td><%= userHistory[i].type %></td>
                <td><%= userHistory[i].creationDate %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS (optional, if you need JavaScript functionality) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>